body {
  background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

p.inline {
  display: inline;
}

div#d_sysSciReq {
    width: 30%;
    display: inline-block;
    border-radius: 5px;
    background-color: gray;
    padding: 10px;
    margin: 2.5%;
    vertical-align: top;
}

div#arContainer {
  width: 20%;
  display: inline-block;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-top: 2.5%;
  margin-left: 1.25%;
  margin-left: 1.25%;
  vertical-align: top;
}

div#d_addSystem {
  border-radius: 5px;
  background-color: green;
  padding: 10px;
}

div#d_removeSystem {
  margin-top: 10px;
  border-radius: 5px;
  background-color: red;
  padding: 10px;
}

div#d_results {
    width: 30%;
    display: inline-block;
    border-radius: 5px;
    background-color: gray;
    padding: 10px;
    margin: 2.5%;
    vertical-align: top;
}

div#d_DEBUG {
  visibility: visible;
  width: 90%;
  border-radius: 5px;
  background-color: gray;
  padding: 10px;
  margin: 2.5%;
  vertical-align: top;
}

input.numInput {
    width: 30%;
    padding: 4px 8px;
    margin: 4px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input#submit {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input#submit:hover {
  border-color: blue;
}
