/* General */

body {
  background-color: white;
}

p.inline {
  display: inline;
}

h2 {
  text-align: center;
}

/* Menu */

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    float: left;
    font-size: 16px;
    border: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: white;
}

.show {
    display: block;
}

.menu a:hover, .dropbtn:hover {
    background-color: #111;
}

/* Tutorial */

div.tutorialBlock {
  align-items: center;
  width: 90%;
  display: inline-block;
  border-radius: 5px;
  background-color: #d1d1d1;
  padding: 14px 16px;
  margin: 1%;
}

div.tutorialBlock img {
  margin-left: 20px;
  float: right;
  width: 50%;
}

div.tutorialBlock img.smallImg {
  margin-left: 20px;
  float: right;
  width: 35%;
}

/* Calculator */

div#d_sysSciReq {
    width: 30%;
    display: inline-block;
    border-radius: 5px;
    background-color: gray;
    padding: 10px;
    margin: 2.5%;
    vertical-align: top;
}

div#arContainer {
  width: 20%;
  display: inline-block;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-top: 2.5%;
  margin-left: 1.25%;
  margin-left: 1.25%;
  vertical-align: top;
}

div#d_addSystem {
  border-radius: 5px;
  background-color: green;
  padding: 10px;
}

div#d_removeSystem {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #B70101;
  padding: 10px;
}

div#d_results {
    width: 30%;
    display: inline-block;
    border-radius: 5px;
    background-color: gray;
    padding: 10px;
    margin: 2.5%;
    vertical-align: top;
}

div#d_DEBUG {
  visibility: hidden;
  width: 90%;
  border-radius: 5px;
  background-color: gray;
  padding: 10px;
  margin: 2.5%;
  vertical-align: top;
}

input.numInput {
    width: 30%;
    padding: 4px 8px;
    margin: 4px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input.submit {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input.submit:hover {
  border-color: blue;
}

input#clearAll {
    width: 45%;
}

input#clearGains {
    width: 45%;
}
