body {
  background-color: #464646;
}

div#d_sysSciReq {
    width: 40%;
    display: inline-block;
    border-radius: 5px;
    background-color: gray;
    padding: 10px;
    margin: 2.5%;
    vertical-align: top;
}

div#d_results {
    width: 40%;
    display: inline-block;
    border-radius: 5px;
    background-color: gray;
    padding: 10px;
    margin: 2.5%;
    vertical-align: top;
}

div#d_DEBUG {
  visibility: hidden;
  width: 40%;
  border-radius: 5px;
  background-color: gray;
  padding: 10px;
  margin: 2.5%;
  vertical-align: top;
}

input.numInput {
    width: 30%;
    padding: 4px 8px;
    margin: 4px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input#submit {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input#submit:hover {
  border-color: green;
}
